
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: DinRoundPro;
}

@font-face {
    font-family: DinRoundPro;
    src: url("../fonts/DINRoundPro/DINRoundPro.ttf");
}

@font-face {
    font-family: FestivoLetters;
    src: url("../fonts/FestivoLetters/FestivoLetters.otf");
}


html {
    font-size: 62.5%;
}

// variables
$whiteKumpai    : #F9F6F2;
$yellowKumpai   : #FFD600; 
$orangeKumpai   : #FF6700; 
$greenKumpai    :   #45B64A;
$blueKumpai     : #00B4C1; 


$yellowKumpaiLigth   : #FFF0A3; 
$orangeKumpaiLigth   : #F9AC80; 
$greenKumpaiLigth    :   #A6D399;
$blueKumpaiLigth     : #95DCDE; 



.bg-yellowKumpai{
    background-color: $yellowKumpai;
}

.bg-orangeKumpai {
    background-color: $orangeKumpai;
}

.bg-greenKumpai {
    background-color: $greenKumpai;
}

.bg-blueKumpai {
    background-color: $blueKumpai;
}

.bg-yellowKumpaiLigth{
    background-color:$yellowKumpaiLigth;
}

.bg-orangeKumpaiLigth{
    background-color:$orangeKumpaiLigth;
}

.bg-greenKumpaiLigth{
    background-color:$greenKumpaiLigth;
}

.bg-blueKumpaiLigth{
    background-color:$blueKumpaiLigth;
}


.t-yellowKumpai{
    color:$yellowKumpai;
}

.t-orangeKumpai{
    color:$orangeKumpai;
}

.t-greenKumpai{
    color:$greenKumpai;
}


@mixin center {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@mixin centerFlex{
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background-color: $whiteKumpai;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    position: fixed;
    z-index: 999;
    align-items: center;
    
    ul {

        display: flex;
        justify-content: space-between;
        width: 100%;


        .btnInit{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: end;
            place-content: center;
            font-weight: bold;
            color:#00B4C1;
            font-size: 25px;
            background-color: #FF6700;
            border-radius: 15px;
            width: 180px;
            height: 45px;
            &:hover{
                background-color: $blueKumpai;
            }
        }

        .btnInit a {
            color: $whiteKumpai;  
        }

        .logo{
            background-image: url("/asset/LogoKind-00.svg");
            background-repeat: no-repeat;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: start;
        }

    }

}

@media (max-width:768px){
    nav{
        ul{
            .btnInit{
                font-size: 16px;
            }
        }
    }
}

.oneSection{
    /* background-image: url("/asset/imgs/portada.png"); */
    background-image: url("/asset/imgs/portada-01.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    min-height:700px;
    display: flex;
    flex-direction: column;
    .logoSlogan{
        height: 20rem;
        position: relative;
        left: 11%;
        top: 10rem;
        z-index: 99;
    }
    .itemsOne {
        /* padding:  300px 100px; */
        position:absolute;
        top:0px;
        background: linear-gradient(to left, rgba(255, 254, 254, 0) 20%, rgba(0, 0, 0, 0.353) 35%, rgba(0, 0, 5, 0.5) 50%);
        width: 50%;
        height: 96.5%;
        margin-top: 20px;
        
        p{
            padding-top:  350px;
            font-family: DinRoundPro;
            font-size: 16px;
            color:$whiteKumpai;
            max-width: 500px;
            position: relative;
            left: 22%;
        }
        button{
            margin-top: 50px;
            height: 50px;
            width: 200px;
            border-radius: 10px;
            background-color: $orangeKumpai;
            color: $whiteKumpai;
            font-size: 18px;
            font-weight: bold;
            border: none;
            position: relative;
            left: 22%;
        }
    }
}

@media (max-width: 900px) {
    .oneSection{
        min-height:500px;
        .logoSlogan{
            height: 15rem;
        } 
    
        .itemsOne {
            /* position:absolute;
            top:0px;
            background: linear-gradient(to left, rgba(255, 254, 254, 0) 10%, rgba(0, 0, 0, 0.353) 25%, rgba(0, 0, 5, 0.5) 60%);
            width: 50%;
            height: 96.5%;
            margin-top: 20px; */
            p{
                padding-top:  60%;
                font-size: 14px;//16px;
            }
            button{
                margin-top: 30px;
                font-size: 16px;//18px;
            }
        }
    }
}

@media (max-width: 768px) {
    .oneSection{
        max-height: 400px;
        gap:20%;
        .itemsOne{
            p{
                padding-top:  80%;
            }
        }
    }
}

@media (max-width: 610px) {
    .oneSection{
        .itemsOne{
            position:absolute;
            top:0px;
            background: linear-gradient(to left, rgba(255, 254, 254, 0) 10%, rgba(0, 0, 0, 0.353) 25%, rgba(0, 0, 5, 0.5) 60%);
            width: 100%;
            height: 96.5%;
            margin-top: 20px;
            p{
                padding-top:  25rem;
                width: 300px;
                left: 12%;
            }
            button{
                left: 12%;
            }
        }
    }
}

/*  
@media (max-width: 576px) {
    background-color: red;

}  */

.twoSection {
    /* margin:18%; */
    padding: 10%;
    div{
        display: flex;
        flex-direction:column;
        place-content: center;
        gap:100px;
        div{
            width: 100%;
            display: flex;
            align-items: center;
            place-content: center;
            flex-direction:row;
            gap: 100px;
            margin: 10px 0 10px 0;//revisar
            .border-box{
                border-radius: 20px;
                min-width: 30rem;//550px;
                min-height: 400px;
                /* z-index: 99; */
            }
            p{
                max-width: 60%;
                text-align: center;
                align-items: center;
                justify-content: center;
                display: flex;
                justify-content: center;
                font-weight: bold;
            }
            .phoneCircle{
                z-index: 99;
                position: absolute;
            }

            .desktopCircle{
                z-index: 99;
                position: absolute;
                width: 35%;
            }

            .blueCircle{
                background-color: $blueKumpai;
                position: relative;
                top: -150px;
                border-radius: 50%;
                width: 400px;
                height: 400px;
            }
            .litleCircle{
                background-image: url("/asset/litleCircles.svg");
                background-position:center;
                background-size: cover;
                width: 150px;
                height: 150px;
                position: relative;
                right: 350px;
                top: 350px;
            }
            .orangeCircle{
                background-color: $orangeKumpai;
                position: relative;
                top: 150px;
                right: 200px;
                border-radius: 50%;
                width: 300px;
                height: 300px;
            }
        }
    }
    font-size: 18px;//24px;
    font-weight: bold;//nuevo
}

@media (max-width: 900px) {
    .twoSection{
        div{
            display: flex;
            flex-direction:column;
            place-content: center;
            gap:100px;
            div{
                width: 100%;
                display: flex;
                flex-direction:row;
                gap: 100px;
                margin: 10px 0 10px 0;//revisar
                .border-box{
                    border-radius: 20px;
                    /* min-width: 450px; */
                    min-height: 300px;
    
                }
                p{
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    justify-content: center;
                    font-weight: bold;
                }
                .phoneCircle{
                    z-index: 99;
                    position: absolute;
                }
    
                .desktopCircle{
                    z-index: 99;
                    position: absolute;
                    width: 50%;
                }
    
                .blueCircle{
                    background-color: $blueKumpai;
                    position: relative;
                    top: -150px;
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                }
                .litleCircle{
                    background-image: url("/asset/litleCircles.svg");
                    background-position:center;
                    background-size: cover;
                    width: 150px;
                    height: 150px;
                    position: relative;
                    right: 350px;
                    top: 350px;
                }
                .orangeCircle{
                    background-color: $orangeKumpai;
                    position: relative;
                    top: 150px;
                    right: 200px;
                    border-radius: 50%;
                    width: 200px;
                    height: 200px;
                }
            }
        }
    }
}

@media (max-width: 768px){
    .twoSection{

        div{
            display: flex;
            flex-direction:column;
            place-content: center;
            gap:100px;
            div{
                justify-content: center;
                display: flex;
                flex-direction: column;
                .desktopCircle{
                    width: 70%;
                }
            }
        }
    }
}

.threeSection{
    padding-bottom: 100px;
    background-color: $blueKumpaiLigth;
    max-height: 800px;
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;

    grid-template-areas:
    "cajaCero cajaCero"
    "cajaTwo cajaOne "
    ;
    :nth-child(1){
        grid-area: cajaCero;
    }
    :nth-child(2){
        grid-area: cajaOne;
    }
    :nth-child(3){
        grid-area: cajaTwo;
    }

    h2{
        font-family: FestivoLetters;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        padding-top: 50px ;
        
    }
    .imgPeople {
        width: 80rem;
        max-height: 500px;
        margin-left: 100px;
    }
        div{
            .boxy{
                display:flex;
                width: 70%;
                height: 110px;
                position: relative;
                left: 25%;
                margin: 40px;
                border-radius: 60px; 
                align-items: center;
                padding: 10px;
                
                .boxNumero {
                    font-size: 40px;
                    font-weight: bold;
                    display: flex;
                    place-content: center;
                    align-items: center;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    background-color: $whiteKumpai;
                }
                .boxText{
                    font-size: 18px;//25px;
                    font-weight: bold;// nuevo
                    display: flex;
                    place-content: center;
                    align-items: center;
                    width: 250px;
                    position:relative;
                    left: 20px;
                }
            }
        }

}

@media (max-width: 900px){
    .threeSection{
        h2{
            font-size: 25px;
        }
        .imgPeople {
            max-height: 400px;
        }

        div{
            .boxy{
                width: 70%;
                height: 120px;
                position: relative;
                left: 15%;
                margin: 30px;
                
                .boxNumero {
                    font-size: 30px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .threeSection{
        /* .imgPeople{
            display: none;
        } */
        :nth-child(2){
            display: none;
        }
        grid-template-areas:
        "cajaCero cajaCero"
        "cajaTwo cajaTwo "
        ;
        div{
            .boxy{
                border-radius: 60px; 
                .boxNumero{
                    width: 10rem;
                    height: 10rem;
                }
            }
        }
    }

} 

@media (max-width: 576px) {
    .threeSection{
        align-items: center;
        :nth-child(3){
            position: relative;
            right: 10%;
        }
        div {
            .boxy{
                width: 80%;
                height: 100px;
                .boxNumero{
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .threeSection{
        div {
            .boxy{
                height: 80px;
                .boxNumero{
                    width: 6.5rem;
                    height: 6rem;
                }
            }
        }
    }
}

.fourSection{
    margin-top: -40px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
    gap:20px;
    
    place-content: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "oneCard twoCard trheeCard"
    ;

    :nth-child(1){
        grid-area: oneCard;
    };
    :nth-child(2) {
        grid-area: twoCard;
    };
    :nth-child(3) {
        grid-area: trheeCard;
    };

    div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .imgCrad{
            width: 50%;
            min-width: 150px;
            position: relative;
            top:100px;

        }
        .boxCard{
            border-radius: 20px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 350px;
            h2{
                font-size: 18px;
                display: flex;
                place-content: center;
                margin-top: 100px;
            }
            p{
                font-size: 14px;
                display: flex;
                place-content: center;
                max-width: 60%;
                margin-top: 20px;

            }
            .imgPhone{
                width: 100%;
            }
        }
    }
    
}

@media (max-width:900px) {
    .fourSection{
        div{
            .imgCrad{
                max-width: 150px;
            }
            .boxCard{
                border-radius: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width:768px) {
    .fourSection{

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "oneCard" 
        "twoCard" 
        "trheeCard"
        ;
        div{
            .imgCrad{
                max-width: 150px;
            }
            .boxCard{
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 12px;
                }
            }
        }
    }
}


@media (max-width:400px) {
    .fourSection{
        div{
/*             .imgCrad{
                max-width: 150px;
            } */
            .boxCard{
                border-radius: 20px;
                margin: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 120%;
            }
        }
    }
}



.fiveSection{
    background-color: $orangeKumpai;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    div{
        align-items: center;
        display: flex;
        flex-direction: column;
        button{
            height: 50px;
            width: 200px;
            border-radius: 10px;
            background-color: $orangeKumpai;
            color: $whiteKumpai;
            font-size: 18px;//20px;
            font-weight: bold;
            border: none;
            position: relative;
            top:-100px;

        }
        .itemsOne{
            display: flex;
            align-items: center;
            gap: 80px;
            margin-bottom: 50px;
            flex-direction: row;
            p{
                font-size: 20px;
                max-width: 700px;
                color:$whiteKumpai;
                font-weight: bold;
            }
            .logoSlogan{
                height: 20rem;  
            }
        }
    }
}

@media (max-width:900px) {
    .fiveSection{
        div{
            .itemsOne{
                gap: 20px;
                margin-bottom: 50px;
                flex-direction: row;
                p{
                    font-size: 16px;
                    max-width: 500px;
                }
                .logoSlogan{
                    height: 15rem;  
                }
            }
        }
    }
}

@media (max-width:768px){
    .fiveSection{
        
        div{
            .itemsOne{
                
                text-align: center;
                flex-direction: column;
                p{
                    max-width: 300px;
                }
            }
        }
}
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 2;
        scale: 100%;
    }
}

.efects{ //img
    view-timeline-name: --efects;//image
    view-timeline-axis: block;

    animation-timeline: --efects;//image
    animation-name:show;

    animation-range: entry 25% cover 50%;
    animation-fill-mode:both;
}