* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: DinRoundPro;
}

@font-face {
  font-family: DinRoundPro;
  src: url("../fonts/DINRoundPro/DINRoundPro.ttf");
}
@font-face {
  font-family: FestivoLetters;
  src: url("../fonts/FestivoLetters/FestivoLetters.otf");
}
html {
  font-size: 62.5%;
}
html h1 {
  font-family: FestivoLetters;
  font-size: 60px;
}
html h2 {
  font-family: FestivoLetters;
}

.bg-white {
  background-color: white;
  height: 100%;
  width: 100%;
}

.bg-whitekind {
  background-color: #F9F6F2;
  height: 100%;
  width: 100%;
}

.bg-yellowkind {
  background-color: #FFD600;
  height: 100%;
  width: 100%;
}

.bg-orangekind {
  background-color: #FF6700;
  height: 100%;
  width: 100%;
}

.bg-greenkind {
  background-color: #45B64A;
  height: 100%;
  width: 100%;
}

.bg-bluekind {
  background-color: #27C5CD;
  height: 100%;
  width: 100%;
}

.bg-yellowkindLigth {
  background-color: #FFF0A3;
  height: 100%;
  width: 100%;
}

.bg-orangekindLigth {
  background-color: #F9AC80;
  height: 100%;
  width: 100%;
}

.bg-greenkindLigth {
  background-color: #A6D399;
  height: 100%;
  width: 100%;
}

.bg-bluekindLigth {
  background-color: #95DCDE;
  height: 100%;
  width: 100%;
}

.bg-bluekindUltraLigth {
  background-color: #A6E5E9;
  height: 100%;
  width: 100%;
}

/* Color texts */
.t-whitekind {
  color: #F9F6F2;
}

.t-bluekind {
  color: #27C5CD;
}

.t-yellowkind {
  color: #FFD600;
}

.t-orangekind {
  color: #FF6700;
}

.t-greenkind {
  color: #45B64A;
}

/* Text size */
.t-16 {
  text-align: left;
  font-size: 16px;
  color: #000000;
}

.t-18 {
  text-align: left;
  font-size: 18px;
  color: #000000;
}

.t-b {
  font-weight: bold;
}

.t-48 {
  text-align: center;
  font-size: 48px;
  color: #27C5CD;
}

.t-48b {
  text-align: center;
  font-size: 48px;
  color: #000000;
}

/* center rigth left */
.t-center {
  text-align: center;
}

.t-rigth {
  text-align: right;
}

/* mixin-flex */
.flex-col {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.flex-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* Margin */
.mr10 {
  margin: 10px;
}

.mr20 {
  margin: 20px;
}

.mr40 {
  margin: 40px;
}

/* :::::::::::::: */
body {
  display: flex;
  flex-direction: column;
  background-color: #F9F6F2;
}

/* ::::::nav::::: */
.nav-item {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.nav-item a {
  font-size: 22px !important;
}

.navbar {
  min-height: 64px !important;
}

.navbar-brand {
  margin-left: 5% !important;
  margin-right: 20% !important;
}

@media (max-width: 1272px) {
  .navbar-brand {
    margin-left: 3% !important;
    margin-right: 18% !important;
  }
}
@media (max-width: 1180px) {
  .navbar-brand {
    margin-left: 3% !important;
    margin-right: 8% !important;
  }
}
@media (max-width: 999px) {
  .navbar-brand {
    margin-left: 2% !important;
    margin-right: 5% !important;
  }
}
.navbar .container-fluid .logo {
  background-image: url("/asset/LogoKind-00.svg") !important;
  background-repeat: no-repeat !important;
  width: 20% !important;
  height: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: start !important;
  z-index: 99 !important;
}

.navbar-collapse {
  margin-right: 5% !important;
}

.btn-primary {
  background: #FF6700 !important;
  border: #FF6700 !important;
  font-size: 22px !important;
  border-radius: 10px !important;
}

.btn-primary:hover {
  background: #27C5CD !important;
}

/* ::::one section:::: */
.oneSection {
  /* background-image: url("/asset/imgs/portada.png"); */
  background-image: url("/asset/imgs/new-portada.webp");
  background-repeat: no-repeat;
  /* background-position:center; */
  background-size: cover;
  background-attachment: fixed;
  background-position: top center;
  position: relative;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}
.oneSection .logoSlogan {
  height: 15rem;
  position: relative;
  left: 11%;
  top: 10rem;
  z-index: 99;
  margin-top: 50px;
}
.oneSection .itemsOne {
  /* padding:  300px 100px; */
  position: absolute;
  top: 0px;
  background: linear-gradient(to left, rgba(255, 254, 254, 0) 20%, rgba(0, 0, 0, 0.353) 35%, rgba(0, 0, 5, 0.5) 50%);
  width: 70%;
  height: 100%;
  /* margin-top: 20px; */
}
.oneSection .itemsOne h1 {
  padding-top: 30%;
  color: #F9F6F2;
  max-width: 600px;
  position: relative;
  left: 15%;
}
.oneSection .itemsOne p {
  padding-top: 2%;
  font-family: DinRoundPro;
  font-size: 16px;
  color: #F9F6F2;
  max-width: 600px;
  position: relative;
  left: 15%;
}
.oneSection .itemsOne button {
  margin-top: 50px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: #FF6700;
  color: #F9F6F2;
  font-size: 18px;
  font-weight: bold;
  border: none;
  position: relative;
  left: 60%;
}

@media (max-width: 1930px) {
  .oneSection {
    min-height: 900px;
  }
}
@media (max-width: 1326px) {
  .oneSection {
    min-width: 700px;
  }
  .oneSection .itemsOne h1 {
    padding-top: 32%;
  }
  .oneSection .itemsOne p {
    padding-top: 5%;
    font-size: 14px;
  }
  .oneSection .itemsOne button {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (max-width: 1170px) {
  .oneSection .itemsOne h1 {
    padding-top: 35%;
  }
  .oneSection .itemsOne p {
    padding-top: 5%;
    font-size: 14px;
  }
  .oneSection .itemsOne button {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (max-width: 1111px) {
  .oneSection .itemsOne h1 {
    padding-top: 38%;
  }
}
@media (max-width: 1000px) {
  .oneSection .itemsOne h1 {
    padding-top: 40%;
  }
}
@media (max-width: 900px) {
  .oneSection {
    /* min-height:500px; */
  }
  .oneSection .logoSlogan {
    height: 15rem;
  }
  .oneSection .itemsOne h1 {
    padding-top: 45%;
  }
  .oneSection .itemsOne p {
    padding-top: 5%;
    font-size: 14px;
  }
  .oneSection .itemsOne button {
    margin-top: 30px;
    font-size: 16px;
  }
}
@media (max-width: 830px) {
  .oneSection {
    max-height: 400px;
    gap: 20%;
  }
  .oneSection .logoSlogan {
    height: 10rem;
    top: 10rem;
  }
  .oneSection .itemsOne p {
    padding-top: 5%;
  }
}
@media (max-width: 750px) {
  .oneSection {
    min-height: 700px;
  }
  .oneSection .itemsOne {
    position: absolute;
    top: 0px;
    background: linear-gradient(to left, rgba(255, 254, 254, 0) 10%, rgba(0, 0, 0, 0.353) 25%, rgba(0, 0, 5, 0.5) 60%);
    width: 100%;
    height: 97.3%;
    margin-top: 20px;
  }
  .oneSection .itemsOne h1 {
    left: 12%;
    padding-top: 35%;
  }
  .oneSection .itemsOne p {
    padding-top: 2.5%;
    width: 300px;
    left: 12%;
  }
  .oneSection .itemsOne button {
    left: 12%;
  }
}
@media (max-width: 630px) {
  .oneSection .itemsOne h1 {
    left: 12%;
    width: 80%;
    padding-top: 40%;
  }
  .oneSection .itemsOne p {
    padding-top: 8%;
    width: 80%;
    left: 12%;
  }
}
@media (max-width: 560px) {
  .oneSection .itemsOne h1 {
    left: 12%;
    width: 80%;
    padding-top: 45%;
  }
  .oneSection .itemsOne p {
    padding-top: 8%;
    width: 80%;
    left: 12%;
  }
}
@media (max-width: 480px) {
  .oneSection .itemsOne h1 {
    left: 12%;
    width: 80%;
    padding-top: 50%;
  }
  .oneSection .itemsOne p {
    padding-top: 8%;
    width: 80%;
    left: 12%;
  }
}
@media (max-width: 480px) {
  .oneSection .itemsOne h1 {
    left: 12%;
    width: 80%;
    padding-top: 55%;
  }
  .oneSection .itemsOne p {
    padding-top: 8%;
    width: 80%;
    left: 12%;
  }
}
@media (max-width: 400px) {
  .oneSection .itemsOne h1 {
    left: 12%;
    width: 80%;
    padding-top: 65%;
  }
  .oneSection .itemsOne p {
    padding-top: 8%;
    width: 80%;
    left: 12%;
  }
}
/*  
@media (max-width: 576px) {
    background-color: red;

}  */
.twoSection {
  /* margin:18%; */
  padding: 10%;
  font-size: 18px;
  font-weight: bold;
}
.twoSection div {
  display: flex;
  flex-direction: column;
  place-content: center;
  gap: 50px;
}
.twoSection div div {
  width: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: row;
  margin: 10px 0 10px 0;
}
.twoSection div div .border-box {
  border-radius: 20px;
  width: 120rem;
  min-height: 400px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.2509803922);
  /* z-index: 99; */
}
.twoSection div div p {
  max-width: 60%;
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
  justify-content: center;
  /* font-weight: bold; */
}
.twoSection div div .phoneCircle {
  z-index: 99;
  position: absolute;
  height: 100%;
}
.twoSection div div .material {
  z-index: 99;
  position: absolute;
}
.twoSection div div .desktopCircle {
  z-index: 99;
  position: absolute;
  width: 50%;
}

@media (max-width: 900px) {
  .twoSection div {
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 100px;
  }
  .twoSection div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin: 10px 0 10px 0;
  }
  .twoSection div div .border-box {
    border-radius: 20px;
    /* min-width: 450px; */
    min-height: 250px;
  }
  .twoSection div div p {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
  }
  .twoSection div div .phoneCircle {
    z-index: 99;
    position: absolute;
    /* height: 80%; */
  }
  .twoSection div div .desktopCircle {
    z-index: 99;
    position: absolute;
    /* width: 40%; */
  }
  .twoSection div div .blueCircle {
    background-color: #27C5CD;
    position: relative;
    top: -150px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  .twoSection div div .litleCircle {
    background-image: url("/asset/litleCircles.svg");
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 150px;
    position: relative;
    right: 350px;
    top: 350px;
  }
  .twoSection div div .orangeCircle {
    background-color: #FF6700;
    position: relative;
    top: 150px;
    right: 200px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .twoSection .childTwoSection {
    gap: 20px;
  }
  .twoSection .childTwoSection .twoBoxs {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .twoSection .childTwoSection .twoBoxs .sTBoxOne {
    height: 500px;
  }
  .twoSection .childTwoSection .twoBoxs .sTBoxOne .desktopCircle {
    width: 70%;
  }
  .twoSection .childTwoSection .twoBoxs .sTBoxOne .material {
    width: 90%;
    z-index: 99;
    position: absolute;
  }
  .twoSection .childTwoSection .twoBoxs .sTBoxtwo {
    height: 500px;
  }
  .twoSection .childTwoSection .twoBoxs .sTBoxtwo .phoneCircle {
    height: 50%;
  }
  .twoSection .childTwoSection .twoBoxs .border-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 480px) {
  .twoSection .childTwoSection .twoBoxs .border-box {
    width: 350px;
    height: 280px;
  }
}
.threeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.threeSection img {
  margin: 5%;
  width: 70%;
}

/* ::::::::::::::::::::Section 4::::::::::: */
/* ::::::::::::::::::::Section 5::::::::::: */
.fiveSection {
  margin-top: 40px;
  margin-bottom: 100px;
  margin-left: 80px;
  margin-right: 80px;
  gap: 20px;
  place-content: center;
}
.fiveSection .box-five {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}
.fiveSection .box-five .imgCrad {
  width: 50%;
  min-width: 150px;
  position: relative;
  top: 100px;
}
.fiveSection .box-five .boxCard {
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  gap: 20px;
}
.fiveSection .box-five .boxCard p {
  font-size: 14px;
  display: flex;
  place-content: center;
  max-width: 60%;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .fiveSection div .imgCrad {
    max-width: 150px;
  }
  .fiveSection div .boxCard {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .fiveSection div .boxCard h2 {
    font-size: 16px;
  }
  .fiveSection div .boxCard p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .fiveSection {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "oneCard" "twoCard" "trheeCard";
  }
  .fiveSection div .imgCrad {
    max-width: 150px;
  }
  .fiveSection div .boxCard h2 {
    font-size: 16px;
  }
  .fiveSection div .boxCard p {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  .fiveSection div .boxCard {
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120%;
  }
}
/* :::::seccion seis::::::::: */
.sixSection {
  padding: 100px;
  height: 100%;
}
.sixSection .sixSectionBox {
  padding-top: 50px;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 25rem;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 0.5fr));
  align-items: center;
}
.sixSection .sixSectionBox .box-services {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  margin: 10px;
}
.sixSection .sixSectionBox .box-services .boxText {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px) {
  .sixSection .sixSectionBox .box-services {
    height: 200px;
    width: 200px;
  }
  .sixSection .sixSectionBox .box-services .boxText {
    font-size: 14px;
  }
}
/* :::::::::seccion siete::::::::: */
.sevenSection {
  padding-top: 200px;
  width: 100%;
  height: 850px;
  background-color: #27C5CD;
  clip-path: polygon(0 0, 20% 10%, 100% 0, 100% 100%, 100% 100%, 80% 90%, 0 100%);
}
.sevenSection h2 {
  color: #F9F6F2;
  padding-bottom: 20px;
}

.owl-item {
  padding-left: 50px;
}

.globo {
  margin: 10px;
  padding: 20px;
  width: 300px;
  height: 350px;
  background-image: url("/asset/globo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 9999 !important;
}
.globo p {
  padding: 20px 0 0 20px;
  width: 240px;
}

/* :::::::owl::::::::::::: */
.owl-item {
  width: 350px !important;
}

.owl-controls {
  display: initial !important;
}

/* ::::::Eigth section::::::::: */
.eightSection {
  clip-path: polygon(0 0, 0 0, 100% 0, 100% 100%, 100% 100%, 50% 90%, 0 100%);
  z-index: -1;
  position: relative;
  top: -90px;
}
.eightSection .title {
  margin-top: 100px;
}
.eightSection .gridMovil {
  display: grid;
  gap: 1rem;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
  padding: 10% 6% 10% 10%;
}
.eightSection .boxNews {
  width: 90%;
  height: 100%;
}

/* ::::::nineSection::::::: */
.nineSection {
  height: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nineSection .boxForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.nineSection .boxForm form {
  margin-top: 50px;
  background-color: #27C5CD;
  height: 650px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}
.nineSection .boxForm form .boxInput {
  width: 50%;
  height: 50px;
  border-radius: 10px;
  margin: 10px;
  background-color: #F9F6F2;
}
.nineSection .boxForm form .boxInput input {
  border: none;
  outline: none;
  padding: 0;
  box-shadow: none;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #F9F6F2;
  padding-left: 15px;
}
.nineSection .boxForm form button {
  border: none;
  outline: none;
  padding: 0;
  box-shadow: none;
  /* ::::::::::::::: */
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: end;
  place-content: center;
  font-weight: bold;
  color: #F9F6F2;
  font-size: 18px;
  background-color: #FF6700;
  border-radius: 10px;
  width: 50%;
  height: 55px;
}

@media (max-width: 1100px) {
  .nineSection .boxForm form {
    width: 100%;
  }
  .nineSection .boxForm form .boxInput {
    width: 50%;
  }
}
@media (max-width: 790px) {
  .nineSection .boxForm form {
    width: 100%;
  }
  .nineSection .boxForm form .boxInput {
    width: 80%;
  }
  .nineSection .boxForm form button {
    border: none;
    outline: none;
    padding: 0;
    box-shadow: none;
    /* ::::::::::::::: */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    place-content: center;
    font-weight: bold;
    color: #F9F6F2;
    font-size: 18px;
    background-color: #FF6700;
    border-radius: 10px;
    width: 80%;
    height: 55px;
  }
}
/* ::::::::::::::::::::::: */
.tenSection {
  background: linear-gradient(to top, #95DCDE, transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10%;
}
.tenSection .itemsOne {
  display: grid;
  grid-template-areas: "uno dos" "tres tres";
  grid-template-rows: 1fr 25%;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0 500px;
  margin-bottom: 8%;
  margin-top: 8%;
  /* flex-direction: column; */
}
.tenSection .itemsOne .uno {
  grid-area: uno;
}
.tenSection .itemsOne .dos {
  grid-area: dos;
}
.tenSection .itemsOne .tres {
  grid-area: tres;
}
.tenSection .itemsOne p {
  font-size: 18px;
  color: #FF6700;
}
.tenSection .itemsOne .logoSlogan {
  height: 20rem;
}

@media (max-width: 900px) {
  .tenSection div .itemsOne {
    gap: 20px;
    margin-bottom: 50px;
    flex-direction: row;
  }
  .tenSection div .itemsOne p {
    font-size: 16px;
    max-width: 500px;
  }
  .tenSection div .itemsOne .logoSlogan {
    height: 15rem;
  }
}
@media (max-width: 768px) {
  .tenSection div .itemsOne {
    text-align: center;
    flex-direction: column;
  }
  .tenSection div .itemsOne p {
    max-width: 300px;
    padding-top: 20px;
  }
}
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 2;
    scale: 100%;
  }
}
.efects {
  view-timeline-name: --efects;
  view-timeline-axis: block;
  animation-timeline: --efects;
  animation-name: show;
  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}

.efectsBoxy {
  view-timeline-name: --efects;
  view-timeline-axis: block;
  animation-timeline: --efects;
  animation-name: show;
  animation-range: entry 25% cover 30%;
  animation-fill-mode: both;
}

.swiper {
  padding-bottom: 60px !important;
  height: 750px;
  max-width: 98%;
}
.swiper .swiper-wrapper {
  align-items: center;
  height: 80px;
}
.swiper .swiper-slide {
  border-radius: 10px;
  height: 250px !important;
  transition: 0.2s;
}
.swiper .swiper-slide.active {
  height: 300px !important;
  width: 450px !important;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
.swiper .swiper-slide.active h3 {
  font-size: 20px;
}
.swiper .swiper-slide.active p {
  font-size: 20px !important;
}
.swiper .prev,
.swiper .next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  opacity: 0.65;
  transition: 0.2s;
}
.swiper .prev:hover,
.swiper .next:hover {
  opacity: 1;
}
.swiper .prev svg,
.swiper .next svg {
  width: 20px;
  height: 20px;
}
.swiper .prev svg path,
.swiper .next svg path {
  fill: #27C5CD;
}
.swiper .prev {
  left: 25px;
}
.swiper .next {
  right: 25px;
}
.swiper .pagination {
  margin-left: 8px !important;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  z-index: 100;
  height: 120px;
}
.swiper .pagination span {
  font-size: 0;
  opacity: 1;
  margin: 0px 6px !important;
  border: 1px solid #fff;
}
.swiper .pagination span.swiper-pagination-bullet-active {
  background-color: #27C5CD;
  transform: scale(1.5);
}

@media (max-width: 950px) {
  h1 {
    font-size: 45px !important;
  }
  h2 {
    font-size: 32px !important;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 40px !important;
  }
  h2 {
    font-size: 30px !important;
  }
}
@media (max-width: 400px) {
  p {
    font-size: 14px !important;
  }
  h1 {
    font-size: 35px !important;
  }
  h2 {
    font-size: 28px !important;
  }
}
@media (max-width: 350px) {
  h1 {
    font-size: 30px !important;
  }
  h2 {
    font-size: 24px !important;
  }
}
/* este es el comentario 27/02/24 23:49 */

/*# sourceMappingURL=style.css.map */
